[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
fastapi = {extras = ["standard"] }
psycopg = {extras = ["pool"], version = "*"}
aiohttp = "*"

[requires]
python_version = "3.12"
