name: Backend

on:
  workflow_call:
    inputs:
      run_integration_tests:
        required: false
        type: boolean
        default: true
      build:
        description: "Build docker image"
        required: false
        type: boolean
        default: false
      push:
        description: "Push docker image"
        required: false
        type: boolean
        default: false
      push_latest:
        description: "Push latest docker image"
        required: false
        type: boolean
        default: true
      push_tag:
        description: "Push docker image with SHA Tag"
        required: false
        type: boolean
        default: false
    secrets:
      DOCKER_USERNAME:
        required: false
      DOCKER_TOKEN:
        required: false

jobs:
  unit-test:
    uses: ./.github/workflows/backend_unit_test.yml

  integration-test:
    needs: unit-test
    if: inputs.run_integration_tests
    uses: ./.github/workflows/backend_integration_test.yml

  docker-build:
    needs: [unit-test, integration-test]
    if: inputs.build || inputs.push
    uses: ./.github/workflows/docker-build.yml
    with:
      name: "alertbridge-backend"
      dockerfile: "docker/backend/Dockerfile"
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

  docker-push:
    needs: docker-build
    if: inputs.push
    uses: ./.github/workflows/docker-push.yml
    with:
      image: ${{ needs.docker-build.outputs.image }}
      tag: ${{ needs.docker-build.outputs.tag }}
      push_latest: ${{ inputs.push_latest }}
      push_tag: ${{ inputs.push_tag }}
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
