name: Backend Unit Test

on:
  workflow_call:

jobs:
  unit:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    container:
      image: reneruprecht/ci-java21jdk
      volumes:
        - /opt/gha-cache/m2:/root/.m2
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Unit tests
        working-directory: ./backend
        run: |
          ./mvnw -B -ntp -DtrimStackTrace=false test

      - name: Unit test report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: backend/target/surefire-reports/*.xml
          check_name: Unit Tests
