name: Backend Tests

on:
  workflow_call:
    inputs:
      run_integration_tests:
        required: false
        type: boolean
        default: true
      upload_plan:
        required: false
        type: boolean
        default: false
    secrets:
      SECRET_KEY:
        required: false

jobs:
  backend-test:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    container:
      image: reneruprecht/ci-java21jdk
      volumes:
        - /opt/gha-cache/m2:/root/.m2
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Clean
        working-directory: ./backend
        run: ./mvnw -B -ntp clean

      - name: Unit tests
        id: unit-test
        working-directory: ./backend
        run: |
          ./mvnw -B -ntp -DtrimStackTrace=false test

      - name: Integration tests
        id: integration-test
        if: inputs.run_integration_tests
        working-directory: ./backend
        run: |
          ./mvnw -B -ntp -DtrimStackTrace=false failsafe:integration-test failsafe:verify

      - name: Compress test reports
        id: compression
        if: steps.unit-test.outcome == 'success' && inputs.upload_plan == true
        working-directory: ./backend
        run: |
          REPORTS=""
          [ -d target/surefire-reports ] && REPORTS="$REPORTS target/surefire-reports"
          [ -d target/failsafe-reports ] && REPORTS="$REPORTS target/failsafe-reports"

          if [ -n "$REPORTS" ]; then
            tar -czf "test-reports.tar.gz" $REPORTS
          else
            echo "No test reports found"
          fi

      - name: Encrypt test reports
        id: encryption
        if: steps.compression.outcome == 'success' && inputs.upload_plan == true
        working-directory: ./backend
        run: |
          openssl enc -aes-256-cbc -salt -pbkdf2 -k "${{ secrets.SECRET_KEY }}" -in "test-reports.tar.gz" -out "test-reports.tar.gz.enc"

      - name: Upload encrypted test-reports
        if: steps.encryption.outcome == 'success' && inputs.upload_plan == true
        uses: actions/upload-artifact@v6
        with:
          name: "test-reports"
          path: "backend/test-reports.tar.gz.enc"
