name: Docker Push

on:
  workflow_call:
    inputs:
      image:
        description: "Name of the image"
        required: true
        type: string
      tag:
        description: "Tag of the image"
        required: false
        type: string
      push_latest:
        required: false
        type: boolean
        default: true
      push_tag:
        required: false
        type: boolean
        default: false
    secrets:
      DOCKER_USERNAME:
        required: false
      DOCKER_TOKEN:
        required: false

jobs:
  push:
    container:
      image:  "docker:28.3.3-dind-alpine3.22"
    runs-on: self-hosted
    steps:
      - name: Login
        # if: github.ref == 'refs/heads/main' 
        run: |
          set -euo pipefail

          echo "${{ secrets.DOCKER_TOKEN }}" | docker login docker.io \
            -u "${{ secrets.DOCKER_USERNAME}}" \
            --password-stdin

      - name: Push Tag
        # if: github.ref == 'refs/heads/main' && inputs.push_tag
        run: |
          set -euo pipefail

          USER="${{ secrets.DOCKER_USERNAME }}"
          IMAGE="${{ inputs.image }}"
          TAG="${{ inputs.tag }}"

          #docker image push "${USER}/${IMAGE}:${TAG}"
          # echo "## PUSHED ${IMAGE}:${TAG}" >> $GITHUB_STEP_SUMMARY
          echo "PUSH TAG ${IMAGE}:${TAG}"

      - name: Push latest
        # if: github.ref == 'refs/heads/main' && inputs.push_latest
        run: |
          set -euo pipefail

          USER="${{ secrets.DOCKER_USERNAME }}"
          IMAGE="${{ inputs.image }}"

          # docker image push "${USER}/${IMAGE}:latest"
          # echo "## PUSHED ${IMAGE}:latest" >> $GITHUB_STEP_SUMMARY
          echo "PUSH latest ${IMAGE}"
