name: Feat Branch

on:
  push:
    paths-ignore:
      - .github/workflows/**
      - 'README.md'
    branches-ignore:
      - main
      - dev

jobs:
  changes:
    runs-on: self-hosted
    container:
      image: reneruprecht/ci-node22
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 20
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        base: dev
        filters: |
          backend:
            - 'backend/**'
  backend:
    needs: changes
    if: "${{ needs.changes.outputs.backend == 'true' }}"
    uses: ./.github/workflows/backend.yml
    permissions:
      checks: write
