name: Main Branch

on:
  push:
    paths-ignore:
      - .github/workflows/**
      - 'README.md'
    branches:
      - main

jobs:
  changes:
    runs-on: self-hosted
    container:
      image: reneruprecht/ci-node22
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
    steps:
    - uses: actions/checkout@v4
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        base: ${{ github.ref }}
        filters: |
          backend:
            - 'backend/**'
  backend:
    needs: changes
    if: "${{ needs.changes.outputs.backend == 'true' }}"
    uses: ./.github/workflows/backend.yml
    with:
      push: true
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
    permissions:
      checks: write
